<div class="container">
  <h2>collegamenti</h2>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error quam laboriosam eos officia quibusdam repellendus
    <a href="">Lorem ipsum dolor sit amet.</a> fugit, magnam reiciendis provident?
  </p>


  <h3>
    barra di navigazione con link
  </h3>
  <nav class="nav">
    <a href="" class="nav-link">home</a>
    <a href="" class="nav-link">azienda</a>
    <a href="" class="nav-link">prodotti</a>
    <a href="" class="nav-link">contatti</a>
  </nav>
  <ul class="nav">
    <li><a href="" class="nav-link">home</a></li>
    <li><a href="" class="nav-link">home</a></li>
    <li><a href="" class="nav-link">home</a></li>
    <li><a href="" class="nav-link">home</a></li>
  </ul>

  <h3>
    Pulsanti
  </h3>
  <p>
    <a href="" class="btn btn-primary">link pulsante</a>
  </p>
  <h3>pulsanti di form</h3>
  <p>
    <input type="button" value="clicca qui" class="btn btn-secondary">
    <input type="button" value="clicca qui">
  </p>

  <h3>buttons</h3>
  <p>
    <button>clicca qui</button>
    <button class="btn btn-info">clicca qui</button>
  </p>

  <h3>dimensioni pulsanti</h3>
  <p>
    <button class="btn btn-info btn-sm">piccolo</button>
    <button class="btn btn-info">normale</button>
    <button class="btn btn-info btn-lg">grande</button>
  </p>

  <div class="w-25 border-2 border-primary">
    <h4>pulsanti blocco</h4>
    <button>clicca</button>
  </div>

  
</div>
