<div class="container">
  <h2>Cards</h2>

  <h3>Solo testo</h3>
  <div class="card">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam obcaecati illum id placeat enim expedita voluptatem
      error repellat vel! Maxime.
    </div>
  </div>

  <h3>Dimensione specifica</h3>
  <div class="card w-50">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nesciunt illo a laborum facere accusamus dolores
      odit magni quod quia!
    </div>
  </div>

  <h3>Più contenuti</h3>
  <div class="card w-50">
    <div class="card-body">
      <h4 class="card-title">Titolo</h4>
      <h5 class="card-subtitle">Sottotitolo</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ea accusantium earum
        doloremque maiores laudantium veritatis quidem labore ut nemo.
      </p>
    </div>
  </div>

  <h3>Suddivisione in zone</h3>
  <div class="card w-50">
    <div class="card-header">
      La mia card
    </div>
    <div class="card-body">
      <h4 class="card-title">Titolo</h4>
      <h5 class="card-subtitle">Sottotitolo</h5>
      <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, sint aperiam? Et, iusto in!
        Qui, assumenda repudiandae. Magni, obcaecati praesentium.
      </p>
    </div>
    <div class="card-footer text-end">
      Michele
    </div>
  </div>

  <h3>Card group (per affiancare card)</h3>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, recusandae?
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, recusandae?
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, recusandae?
      </div>
    </div>
  </div>

  <h3>Card incolonnate</h3>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Card 1
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio eos ad doloremque deserunt repellat vitae sit ullam impedit nulla?
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Card 2
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio eos ad doloremque deserunt repellat vitae sit ullam impedit nulla?
        </div>
      </div>
    </div><div class="col">
      <div class="card">
        <div class="card-header">
          Card 3
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio eos ad doloremque deserunt repellat vitae sit ullam impedit nulla?
        </div>
      </div>
    </div>
  </div>

  <h3>Card con immagini</h3>
  <div class="card w-50">
    <img src="assets/img/foto2.jpg" alt="#" class="card-img-top">
    <div class="card-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate iure ut at quasi perferendis eligendi itaque maxime eos repellat illum.
    </div>
  </div>

  <div class="card w-50">
    <img src="assets/img/foto3.jpg" alt="#" class="card-img-top">
    <div class="card-body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate iure ut at quasi perferendis eligendi itaque maxime eos repellat illum.
    </div>
  </div>

</div>
