<div class="container">
  <h2>Nav</h2>

  <h4>nav normale</h4>
  <div class="nav">
    <a href="" class="nav-link">Uno</a>
    <a href="" class="nav-link">Due</a>
    <a href="" class="nav-link">Tre</a>
    <a href="" class="nav-link">Quattro</a>
  </div>

  <h4>nav centrata</h4>
  <div class="nav justify-content-center">
    <a href="" class="nav-link">Uno</a>
    <a href="" class="nav-link">Due</a>
    <a href="" class="nav-link">Tre</a>
    <a href="" class="nav-link">Quattro</a>
  </div>

  <h4>nav distribuita</h4>
  <div class="nav nav-fill">
    <a href="" class="nav-link">Uno</a>
    <a href="" class="nav-link">Due</a>
    <a href="" class="nav-link">Tre</a>
    <a href="" class="nav-link">Quattro</a>
  </div>
</div>
