<div class="container">
  <h2>Visibilità</h2>

  <h3>mostrare elementi in base al breakpoint</h3>
  <p class="d-none d-sm-block">paragrafo visibile da sm in poi</p>
  <p class="d-none d-md-block">paragrafo visibile da md in poi</p>
  <p class="d-none d-lg-block">paragrafo visibile da lg in poi</p>
  <p class="d-none d-xl-block">paragrafo visibile da xl in poi</p>
  <p class="d-none d-xxl-block">paragrafo visibile solo in xxl</p>

  <h3>nascondere gli elementi in base al breakpoint</h3>
  <p class="d-sm-none">paragrafo visibile soltanto in xs</p>
  <p class="d-none d-sm-block d-md-none">paragrafo visibile soltanto in sm</p>
  <p class="d-none d-md-block d-lg-none">paragrafo visibile soltanto in md</p>
  <p class="d-none d-lg-block d-xl-none">paragrafo visibile soltanto in md</p>
  <p class="d-none d-xl-block d-xxl-none">paragrafo visibile soltanto in md</p>
  <p class="d-none d-xxl-block">paragrafo visibile soltanto in md</p>

</div>
