<div class="container">
  <h2>tabelle</h2>

  <h3>tabella normale</h3>
  <table>
    <thead>
      <th>id</th>
      <th>nome</th>
      <th>cognome</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>chiara</td>
        <td>bianchi</td>
      </tr>
      <tr>
        <td>2</td>
        <td>maria</td>
        <td>verdi</td>
      </tr>
      <tr>
        <td>3</td>
        <td>stefania</td>
        <td>rossi</td>
      </tr>
    </tbody>

  </table>

  <h3>tabella coi bordi</h3>
  <table class="table table-bordered">
    <thead>
      <th>id</th>
      <th>nome</th>
      <th>cognome</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>chiara</td>
        <td>bianchi</td>
      </tr>
      <tr>
        <td>2</td>
        <td>maria</td>
        <td>verdi</td>
      </tr>
      <tr>
        <td>3</td>
        <td>stefania</td>
        <td>rossi</td>
      </tr>
    </tbody>

  </table>

  <h3>tabella scura</h3>
  <table class="bg-dark text-light">
    <thead>
      <th>id</th>
      <th>nome</th>
      <th>cognome</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>chiara</td>
        <td>bianchi</td>
      </tr>
      <tr>
        <td>2</td>
        <td>maria</td>
        <td>verdi</td>
      </tr>
      <tr>
        <td>3</td>
        <td>stefania</td>
        <td>rossi</td>
      </tr>
    </tbody>
  </table>

</div>
