<div class="container">
  <h2>spaziature</h2>

  <h3>padding</h3>
  <p class="bg-warning p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>
  <p class="bg-warning p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>
  <p class="bg-warning p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>

  <p class="bg-warning ps-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>
  <p class="bg-warning pe-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>
  <p class="bg-warning px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>
  <p class="bg-warning px-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>

  <h3>margini</h3>
  <p class="bg-warning m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil sequi, tenetur natus reprehenderit quaerat corrupti veritatis doloremque a possimus?</p>


</div>
