<div class="container">
  <h2>navbar</h2>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">navbar</span>
    </div>
  </nav>

  <h3>logo e immagine</h3>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a href="" class="navbar-brand">
        <img src="assets/img/instagram.png" alt="" width="40">
        navbar
      </a>
    </div>
  </nav>

  <h3>con navigazione</h3>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a href="" class="navbar-brand">
        <img src="assets/img/instagram.png" alt="" width="40">
        navbar
      </a>
    </div>
    <div class="navbar-nav">
      <a href="" class="nav-link">1</a>
      <a href="" class="nav-link">1</a>
      <a href="" class="nav-link">1</a>
      <a href="" class="nav-link">1</a>
    </div>
  </nav>

  <h3>Con navigazione collassabile</h3>
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Navbar</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigazione">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigazione">
        <div class="navbar-nav">
          <a href="" class="nav-link">Home</a>
          <a href="" class="nav-link">Azienda</a>
          <a href="" class="nav-link">Prodotti</a>
          <a href="" class="nav-link">Contatti</a>
        </div>
      </div>
    </div>
  </nav>
</div>
