<div class="container">
  <h2>disposizione elementi</h2>
  <h3>allineamento orizzontale</h3>

  <h3>A sinistra</h3>
  <div class="row bg-dark p-3 justify-content-start">
    <div class="col-6 text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut.
    </div>
  </div>

  <h3>Al centro</h3>
  <div class="row bg-dark p-3 justify-content-center">
    <div class="col-6 text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut.
    </div>
  </div>

  <h3>A destra</h3>
  <div class="row bg-dark p-3 justify-content-end">
    <div class="col-6 text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut.
    </div>
  </div>

  <h3>allineamento verticale</h3>
  <div class="row bg-dark p-3 altezza-200 mb-5 align-items-start">
    <p class="col text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, explicabo!
    </p>
  </div>
  <div class="row bg-dark p-3 altezza-200 mb-5 align-items-center">
    <p class="col text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, explicabo!
    </p>
  </div><div class="row bg-dark p-3 altezza-200 mb-5 align-items-end">
    <p class="col text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, explicabo!
    </p>
  </div>

</div>

