<div class="container">
  <h2>colori</h2>

  <h3 class="bg-primary">colore primary</h3>
  <p class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-secondary">colore secondary</h3>
  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-success">colore primary</h3>
  <p class="text-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-warning">colore primary</h3>
  <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-danger">colore primary</h3>
  <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-info">colore primary</h3>
  <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-dark text-light">colore primary</h3>
  <p class="bg-dark text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>

  <h3 class="bg-light text-dark">colore primary</h3>
  <p class="bg-light text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam.</p>
</div>
