<div class="container">
  <h2>colonne</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, ut?</p>
  <h3>colonne automatiche</h3>
  <div class="row">
    <p class="col">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ratione nam, numquam, corrupti aliquid
      eveniet similique atque cumque enim suscipit a omnis expedita. Ullam porro dolores incidunt. Voluptas, rem enim
      magnam tempora ipsa cum consectetur eos possimus in aut laborum!
    </p>
    <p class="col">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ratione nam, numquam, corrupti aliquid
      eveniet similique atque cumque enim suscipit a omnis expedita. Ullam porro dolores incidunt. Voluptas, rem enim
      magnam tempora ipsa cum consectetur eos possimus in aut laborum!
    </p>
  </div>
</div>
